<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sphere.io.glass" >
    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_logo"
        android:label="@string/app_title">
        <activity
            android:name=".SphereMainActivity"
            android:icon="@drawable/ic_glass_logo">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger" />
        </activity>
        <activity
            android:name=".activities.ConfirmationActivity"
            android:icon="@drawable/icon_logo_thumb"
       >
        </activity>
        <activity
            android:name=".activities.ProductActivity"
            android:icon="@drawable/icon_logo_thumb"
            >
        </activity>
        <activity
            android:name=".activities.AlertActivity"
            android:icon="@drawable/icon_logo_thumb"
            >
        </activity>
        <activity
            android:name="com.github.barcodeeye.scan.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:stateNotNeeded="true"
            android:theme="@style/CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

    </application>

</manifest>
